@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

.flex{
    display: flex;
}

.small-font{
    font-size: 20px;
}

.container{
    padding: 1vh 2vw 2vw 2vw;
    font-family: 'Poppins', sans-serif;
    width: 60vw;
    height: 70vh;
    border-radius: 1vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image:url(../../assets/container-background.png);
    justify-content: space-around;
    color: #1b576f;
}

.container hr{
    height: 0.3vh;
    border: none;
    margin-top: 1vw;
    background-color: #effbfb;
}

.question{
    margin-top: 1vw;
    padding: 1.5vh 3vw;
    text-align: center;
    max-width: 60vw;
    max-height: 10vh;
    font-size: 1.5vw;
    color: #1b576f;
}

ul{
    display: flex;
    flex-direction: column;
    padding: 0 13vw;
    margin-bottom: 2vw;
}

li{
    margin-top: 2vh;
    max-width: 35vw;
    list-style: none;
    align-items: center;
    gap: 0 1.3vw;
    font-size: 1vw;
    background-color: white;
    padding: 1.5vh 1vw;
    border-radius: 1vw;
    color: #1b576f;

}

li:hover,button:hover{
    cursor: pointer;
    color: #0bede6;
}


.container button{
    margin: auto;
    height: 5vh;
    width: 5vw;
    border-radius: 1vw;
    border: none;
    color: white;
    background-color: black;
    box-shadow: 3px 5px #0000005a;
    font-family: 'Poppins', sans-serif;
}

.correct{
    background: #9cfbd5;
    color: rgb(51, 190, 0);
    font-weight: 550;
    font-size: 1vw; 
    /* letter-spacing: 0.1vw; */
}

.correct:hover{
    cursor: pointer;
    color: rgb(51, 190, 0);
}

/* .correct div{
    background-color: #def8f7;
    color: #3e6e89;
    font-size: 1.5vw;
    
} */

.wrong{
    font-weight: 550;
    background: #fb9c9c;
    color: red;
    /* letter-spacing: 0.1vw; */
}
.wrong:hover{
    color: red;
    /* color: ; */
}

/* 
li div{
    display: flex;
    align-items: center;
    color: #3e6e89;
    font-size: 1.5vw;
    background-color: #def8f7;
    width: 1vw;
    height: 1vw;
    padding: 1vw ;
    border-radius: 2vw ;
    justify-content:center ;
} */

.result--page{
    padding: 0 20vw;
    text-align: center;
}

.result--page h1{
    width: 62vw;
    text-align: center;
    color: #9A4FD5;
    font-size: 2.5vw;
    background-color: #fff3b0;
    border-radius: 1vw;
    padding: 1vw 0;
}

.container1{
    background-color: rgba(255, 255, 255, 0.329);
    width: 15vw;
    height: 15vw;
    padding: 1.5vw;
    border-radius: 7.5vw;
    margin: 5vw auto;
}

.container2{
    background-color: #ffffff78;
    width: 12vw;
    height: 12vw;
    border-radius: 6vw;
    padding: 1vw;
}

.container3{
    background-color: white;
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 1vw;
    color: #9A4FD5;
}

.result--page button{
    
    height: 5vh;
    width: 7vw;
    border-radius: 1.2vw;
    border: none;
    color: white;
    background-color: black;
    transition: 0.1s;
    box-shadow: 3px 5px #0000005a;
    font-family: 'Poppins', sans-serif;
    
}

button:active {
    box-shadow: 3px 5px #0000005a;
    transform: translateY(2px);
}

.header--theme{
    padding: 0 1vw;
    justify-content: space-between;
}

.header--theme button{
    margin: 0;
    padding: 0.7vw;
}

.highlight--next{
    padding: 0 15vw;
}

.highlight--next button{
    width: 9.3vw;
}